<html>
	<head>
		{% if title %}
			<title>{{ title }} - microblog</title>
		{% else %}
			<title>Welcome to microblog</title>
		{% endif %}
	</head>
	<body>
		<div>Microblog: 
			<a href="{{ url_for('index') }}">Home</a>
			{% if g.user.is_authenticated %}
			<!-- can pass in arguments to url_for -->
			| <a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a>
			| <form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20) }}<input type="submit" value="Search"></form>
			| <a href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</div>
		<hr>
		
		<!-- context - set messages equal to all flashed messages from prev page -->
		<!-- once it's called w/ get_flashed_messages, it's gone -->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

		<!-- can extend this template by inheriting in other templates -->
		{% block content %}{% endblock %}
	</body>
</html>
